---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'

// 页面目录结构
const headings = [
  { depth: 2, slug: 'opensource', text: 'OpenSource' },
  { depth: 2, slug: 'website', text: 'WebSite' },
  { depth: 2, slug: 'others', text: 'Others' },

]
---

<PageLayout title='Projects' {headings} view>
  <!-- GitHub 活动图表展示 -->
  <p>Github Activities:</p>
  <p>
    <img
      src='https://ghchart.rshah.org/659eb9/Wea1her'
      alt='github activities'
      loading='lazy'
    />
  </p>
 


  <!-- 开源项目展示区 -->
  
  <h2 id='opensource'>Dapps</h2>

  <ProjectSection
    projects={[
      {
        name: 'PolyGlass',
        description: 'PolyGlass 是一个 Polymarket 链上数据聚合与可视化平台，可基于 LLM 进行市场趋势分析，为量化团队和交易者提供机构级的预测市场数据分析工具。',
        links: [
          { type: 'github', href: 'https://github.com/CasualHackathonPolyGlass/PolyGlass' },
          { type: 'site', href: 'polyglass.vercel.app/' },
          { type: 'doc', href: 'https://github.com/CasualHackathonPolyGlass/PolyGlass/blob/main/README.md' },
          // { type: 'release', href: '' }
        ]
      },
      {
        name: 'On-chain MessageBoard',
        description: '简易的链上留言板demo',
        links: [
          { type: 'github', href: 'https://github.com/Wea1her/onchain-message-board-Dapp' },
          { type: 'site', href: 'https://onchain-message-board.vercel.app/' },
          { type: 'doc', href: 'https://github.com/Wea1her/onchain-message-board-Dapp/blob/main/README.md' }
        ]
      }
    ]}
  />
  <!-- 旧项目列表（可折叠） -->
  <!-- <Collapse title='Some old projects'>
    <ProjectSection
      projects={[
        {
          name: '',
          description: '',
          links: [
            { type: 'github', href: '' },
            {
              type: 'release',
              href: ''
            }
          ]
        },
        {
          name: '',
          description:
            '',
          links: [{ type: 'github', href: '' }]
        }
      ]}
    />
  </Collapse> -->

  <!-- 网站项目展示区 -->
  <!-- <h2 id='website'>WebSite</h2>

  <ProjectSection
    class='my-2'
    projects={[
      {
        name: 'PolyGlass',
        description: '',
        links: [
          { type: 'site', href: 'https://polyglass.vercel.app' },
          
        ]
      },
      {
        name: '',
        description: '',
        links: [
          { type: 'site',href: '' }
        ]
      }
    ]}
  />  -->

  <!-- 其他项目展示区 -->
   <!-- <h2 id='others'>Others</h2>  -->

  <!-- <ProjectSection
    projects={[
      {
        name: 'CWorld',
        description: "CWorld's Github",
        links: [{ type: 'github', href: 'https://github.com/Wea1her' }]
      },
      {
        name: 'Arthals',
        description: 'Arthals Github',
        links: [{ type: 'github', href: 'https://github.com/zhuozhiyongde' }]
      }
    ]}
  />

   -->

  
 
</PageLayout>

